@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

body {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

.cont {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: inline-block;
  font-size: 14px;
  box-shadow: 0 0 3px 3px rgba(114, 114, 114, 0.24);
  padding: 0;
  overflow: hidden;
  margin: 0 30px;
}

.up img {
  width: 100%;
  height: 200px;
}

.det {
  padding: 40px 30px;
}

.det p {
  color: rgb(155, 155, 155);
}
.bot img {
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}
.bot {
  padding: 0 50px;
}
.rig {
  display: inline-block;
}
